body {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/907/210/440/holiday-christmas-cat-dog-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  #create .container #create-row #create-column #create-box {
    margin-top: 120px;
    max-width: 600px;
    height: auto;
    border: 1px solid #fb0000;
    background-color: #ffffff;
    opacity: 0.9;
  }
  #create .container #create-row #create-column #create-box #create-form {
    padding: 20px;
  }